[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
jupyter-book = "*"
"plotly.express" = "*"
plotly-express = "*"
plotly = "*"
matplotlib = "*"
wordcloud = "*"
nltk = "*"
seaborn = "*"
spacy = "*"
download = "*"
es-core-news-sm = "*"
scikit-learn = "*"
networkx = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
